@import "./../../../common/scss/vars.scss";

/*
  $xs: 576px;
  $sm: 576px;
  $md: 768px;
  $lg: 992px;
  $xl: 1200px;
  $xxl: 1600px;
*/

.ant-layout-content {
  &.main-content {
    &.series-wrap {
      margin-top: 9.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
      width: $mainContentSize;
      margin-left: auto;
      margin-right: auto;
    }

    .ant-row {
      .series {
        &:not(:last-child) {
          margin-bottom: 20px;
        }

        &-thumnail {
          margin-right: 40px;

          img {
            border-radius: 5px;
            width: 400px;
          }
        }

        &-header {
          .text-box {
            li::marker {
              font-size: 2rem;
              font-weight: bold;
            }

            .ant-typography {
              display: inline-block;
              margin-right: 10px;
            }
          }
        }

        &-body {
          padding: 10px;
          border-radius: 10px;
          display: flex;
        }

        &-content {
          padding: 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        &-state {
          display: flex;
          justify-content: flex-start;

          &-item {
            color: grey;
          }
        }
      }
    }

    .series-line {
      &.ant-divider {
        border-top: 5px solid rgba(0, 0, 0, .06);
      }
    }
  }
}