@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500&display=swap");
@import url("https: //fonts.googleapis.com/css?family=Roboto");
@import "./vars.scss";
@import "./media.scss";

@font-face {
  /* 메이플스토리 폰트 적용 */
  font-family: "maplestory";
  src: url("../font/MaplestoryBold.ttf") format("truetype");
  src: url("../font/MaplestoryLight.ttf") format("truetype");
  font-weight: normal;
}

/* 구글 폰트 적용 */
html {
  --antd-wave-shadow-color: black;
}

.main-header {
  width: 1728px;
  margin-left: auto;
  margin-right: auto;
}

body {
  #root {
    font-family: "Noto Sans KR";
  }
}

.ant-dropdown-menu-title-content {
  font-family: 'Noto Sans KR';
}

/* 아래의 모든 코드는 영역::코드로 사용 */
.ant-radio-group::-webkit-scrollbar,
.ck-content::-webkit-scrollbar,
.ant-anchor-wrapper::-webkit-scrollbar {
  cursor: pointer;
  width: 12px;
  /* 스크롤바의 너비 */
}

.ant-radio-group::-webkit-scrollbar-thumb,
.ck-content::-webkit-scrollbar-thumb,
.ant-anchor-wrapper::-webkit-scrollbar-thumb {
  height: 30%;
  /* 스크롤바의 길이 */
  background: $subColor;
  /* 스크롤바의 색상 */

  border-radius: 10px;
}


.ant-radio-group::-webkit-scrollbar-track,
.ck-content::-webkit-scrollbar-track {
  background: $grayColor;
  /*스크롤바 뒷 배경 색상*/
}

.ant-layout,
.site-layout-background,
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #fff;
}

.ant-layout-sider-zero-width-trigger {
  top: 10px;
  font-size: 28px;
  right: -45px;
}

h1.ant-typography {
  margin-bottom: 0.2em;
}

.ant-menu {
  color: $mainColor;
}

.ant-anchor-ink-ball {
  border: 2px solid $mainColor;
}

.ant-menu-item-selected,
.ant-anchor-link-active>.ant-anchor-link-title,
a:active,
a:hover {
  color: $mainColor;
  font-weight: bold;
}

.ant-menu-item a:hover {
  color: $mainColor;
  font-weight: bold;
}

.ant-menu-item-selected {
  a {
    &:hover {
      color: $mainColor;
      font-weight: bold;
    }
  }
}

.ant-input-search {

  .ant-input:focus,
  .ant-input:hover {
    border-color: $subColor;
  }
}

.ant-input-focused,
.ant-input:focus {
  box-shadow: 0 0 0 1px $fontColor;
  border-color: $subColor;
}

.ant-input-search .ant-input:focus+.ant-input-group-addon .ant-input-search-button:not(.ant-btn-primary),
.ant-input-search .ant-input:hover+.ant-input-group-addon .ant-input-search-button:not(.ant-btn-primary) {
  border-left-color: $subColor;
}

.ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary) {
  color: $subColor;
}

.ant-menu-item-selected {
  color: $mainColor;
  font-weight: bold;

  a {
    color: $mainColor;
    font-weight: bold;

    &:hover {
      color: $mainColor;
      font-weight: bold;
    }
  }
}

.ant-menu-light {

  .ant-menu-item:hover,
  .ant-menu-item-active,
  .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
  .ant-menu-submenu-active,
  .ant-menu-submenu-title:hover {
    color: $mainColor;
    font-weight: bold;
  }
}

.ant-btn {
  transition-duration: 0.1s;
}

.ant-btn:active,
.ant-btn:focus,
.ant-btn:hover,
.search-bar:hover,
.search-bar:active,
.search-bar:focus {
  color: $fontColor;
  font-weight: 700;
  border: 0;
  background-color: $subColor;
}

.ant-btn-ghost:focus,
.ant-btn-ghost:hover {
  color: $fontColor;
  border-color: $mainColor;
  background: $subColor;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid $mainColor;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs-tab:hover {
  color: $mainColor;
  font-weight: 700;
}

.ant-tabs-ink-bar {
  background: $mainColor;
}

.setting-dropbox {
  width: 165px;
  padding-top: 5px;
}

.fix-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.width-full {
  width: 100%;
}

.ant-typography a:focus-visible,
.ant-typography a:hover,
a.ant-typography:focus-visible,
a.ant-typography:hover,
.ant-typography a:active,
a.ant-typography:active {
  color: $fontColor;
}

/* 버튼 타입 정의 */
.button {
  &-border {
    &-hide {
      border: 0;
    }
  }

  &-type {
    &-round {
      height: 32px;
      padding: 4px 16px;
      font-size: 14px;
      border-radius: 4px;
    }

    &-circle {
      height: 32px;
      padding: 4px 16px;
      font-size: 14px;
      border-radius: 1rem;
    }

    &-anchor {
      border: 0;
      height: 100%;
      padding: 0;
      font-size: 3rem;
      box-shadow: 0 0 0 0;

      &:hover,
      &:active,
      &:focus {
        color: $mainColor;
        font-weight: 700;
        border: 0;
        background-color: white;
        box-shadow: 0 0 0 0;
      }
    }
  }

  &-size {
    &-mini {
      width: 65px;
      height: 20px;
      font-size: 10px;
      padding: 1px;
    }

    &-small {
      width: 100px;
      min-width: 100px;
    }

    &-large {
      width: 205px;
      min-width: 205px;
    }
  }

  &-color {
    &-normal {
      background: $mainColor;
      border: 0;
      color: $fontColor;
      font-weight: 700;
    }

    &-reverse {
      background: $fontColor;
      border: 0;
      color: $mainColor;
      font-weight: 700;
    }

    &-red {
      background: #fa1131;
      color: white;
      border: 0;
      font-weight: 700;
    }

    &-white {
      box-shadow: 0px 0px 0px 0px;
      background: white;
      color: $mainColor;
      border: 0;
      font-weight: 700;
    }
  }
}

.box {
  &-type {
    &-round {
      padding: 4px 16px;
      border-radius: 4px;
    }

    &-circle {
      padding: 4px 16px;
      border-radius: 1rem;
    }
  }

  &-color {
    &-normal {
      background: $mainColor;
      border: 0;
    }

    &-reverse {
      background: $fontColor;
      border: 0;
    }

    &-red {
      background: #fa1131;
      border: 0;
    }

    &-white {
      background: $mainColor;
      border: 0;
    }

    &-grey {
      background: $grayColor;
      border: 0;
    }
  }
}

.input {
  &-type {
    &-round {
      .ant-input {
        border-radius: 4px;
      }
    }
  }
}

.ant-upload.ant-upload-drag p.ant-upload-drag-icon {
  margin-bottom: 0;
}

.ant-upload.ant-upload-drag p.ant-upload-drag-icon-error {
  margin-bottom: 0;
}

.ant-upload.ant-upload-drag .ant-upload {
  padding: 0;
}

.ant-input:hover {
  border-color: $subColor;
  border-right-width: 1px;
}

.ant-upload.ant-upload-drag {
  position: relative;
  width: 100%;
  height: 50%;
  text-align: center;
  background: #fafafa;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 0.3s;
}

.vertical-line {
  width: 5px;
  min-height: 425px;
  background: var(--bg-element3);
  background-color: $subColor;
  margin-left: 2rem;
  margin-right: 2rem;
}

.comment-box {

  &>.ant-comment:not(:last-child),
  .ant-comment-nested>.ant-comment:not(:last-child) {
    border-bottom: 5px solid $grayColor;
    margin-bottom: 1rem;
  }
}

.thumbnail-wrappper {
  width: 100%;
  margin-bottom: 20px;

  .thumbnail {
    position: relative;
    padding-top: 56.9%;
    /* 1:1 ratio */
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.ant-list-item-action {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* 프롬프트 노출 방지 */
.ant-divider,
.ant-list-item-action-split,
.ant-tabs-tab-btn,
.listPost,
.ant-dropdown-menu-item,
.ant-empty {
  user-select: none;
}

/* ck-editor CSS */
.ck-editor {
  z-index: 0;
}

.ck-content {
  font-family: "maplestory";
  width: 100%;
}

.ck-content pre {
  background: #272822;
  color: #fff;
  box-shadow: 5px 5px 0 #0000001f;
  border: 0;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 10px;

  &::before {
    content: "";
    display: block;
    height: 13px;
    background: url(../images/pre_btn.svg);
    margin-bottom: 14px;
    background-repeat: no-repeat;
  }

  &[data-language]:after {
    font-family: "maplestory" !important;
  }
}

.ck-content blockquote {
  background-color: #f8f9fb;
  border-left: 4px solid #634426 !important;
  color: #634426;
  margin: 0;
  opacity: .9;
  padding: 0 0 0 10px !important;
}

.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused),
.ck.ck-toolbar {
  border: 0;
}

/*
 * CKEditor 5 (v36.0.0) content styles.
 * Generated on Thu, 26 Jan 2023 09:01:04 GMT.
 * For more information, check out https://ckeditor.com/docs/ckeditor5/latest/installation/advanced/content-styles.html
 */


/* ckeditor5-font/theme/fontsize.css */
.ck-content .text-tiny {
  font-size: .7em;
}

/* ckeditor5-font/theme/fontsize.css */
.ck-content .text-small {
  font-size: .85em;
}

/* ckeditor5-font/theme/fontsize.css */
.ck-content .text-big {
  font-size: 1.4em;
}

/* ckeditor5-font/theme/fontsize.css */
.ck-content .text-huge {
  font-size: 1.8em;
}

/* ckeditor5-image/theme/image.css */
.ck-content .image {
  display: table;
  clear: both;
  text-align: center;
  margin: 0.9em auto;
  min-width: 50px;
}

/* ckeditor5-image/theme/image.css */
.ck-content .image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  min-width: 100%;
}

/* ckeditor5-image/theme/image.css */
.ck-content .image-inline {
  /*
     * Normally, the .image-inline would have "display: inline-block" and "img { width: 100% }" (to follow the wrapper while resizing).;
     * Unfortunately, together with "srcset", it gets automatically stretched up to the width of the editing root.
     * This strange behavior does not happen with inline-flex.
     */
  display: inline-flex;
  max-width: 100%;
  align-items: flex-start;
}

/* ckeditor5-image/theme/image.css */
.ck-content .image-inline picture {
  display: flex;
}

/* ckeditor5-image/theme/image.css */
.ck-content .image-inline picture,
.ck-content .image-inline img {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 100%;
}

/* ckeditor5-image/theme/imagecaption.css */
.ck-content .image>figcaption {
  display: table-caption;
  caption-side: bottom;
  word-break: break-word;
  color: var(--ck-color-image-caption-text);
  background-color: var(--ck-color-image-caption-background);
  padding: .6em;
  font-size: .75em;
  outline-offset: -1px;
}

/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized {
  max-width: 100%;
  display: block;
  box-sizing: border-box;
}

/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized img {
  width: 100%;
}

/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized>figcaption {
  display: block;
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-block-align-left,
.ck-content .image-style-block-align-right {
  max-width: calc(100% - var(--ck-image-style-spacing));
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-left,
.ck-content .image-style-align-right {
  clear: none;
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-side {
  float: right;
  margin-left: var(--ck-image-style-spacing);
  max-width: 50%;
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-left {
  float: left;
  margin-right: var(--ck-image-style-spacing);
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-center {
  margin-left: auto;
  margin-right: auto;
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-right {
  float: right;
  margin-left: var(--ck-image-style-spacing);
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-block-align-right {
  margin-right: 0;
  margin-left: auto;
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-block-align-left {
  margin-left: 0;
  margin-right: auto;
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content p+.image-style-align-left,
.ck-content p+.image-style-align-right,
.ck-content p+.image-style-side {
  margin-top: 0;
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-inline.image-style-align-left,
.ck-content .image-inline.image-style-align-right {
  margin-top: var(--ck-inline-image-style-spacing);
  margin-bottom: var(--ck-inline-image-style-spacing);
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-inline.image-style-align-left {
  margin-right: var(--ck-inline-image-style-spacing);
}

/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-inline.image-style-align-right {
  margin-left: var(--ck-inline-image-style-spacing);
}

/* ckeditor5-media-embed/theme/mediaembed.css */
.ck-content .media {
  clear: both;
  margin: 0.9em 0;
  display: block;
  min-width: 15em;
}

/* ckeditor5-table/theme/tablecaption.css */
.ck-content .table>figcaption {
  display: table-caption;
  caption-side: top;
  word-break: break-word;
  text-align: center;
  color: var(--ck-color-table-caption-text);
  background-color: var(--ck-color-table-caption-background);
  padding: .6em;
  font-size: .75em;
  outline-offset: -1px;
}

/* ckeditor5-table/theme/table.css */
.ck-content .table {
  margin: 0.9em auto;
  display: table;
}

/* ckeditor5-table/theme/table.css */
.ck-content .table table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  border: 1px double hsl(0, 0%, 70%);
}

/* ckeditor5-table/theme/table.css */
.ck-content .table table td,
.ck-content .table table th {
  min-width: 2em;
  padding: .4em;
  border: 1px solid hsl(0, 0%, 75%);
}

/* ckeditor5-table/theme/table.css */
.ck-content .table table th {
  font-weight: bold;
  background: hsla(0, 0%, 0%, 5%);
}

/* ckeditor5-table/theme/table.css */
.ck-content[dir="rtl"] .table th {
  text-align: right;
}

/* ckeditor5-table/theme/table.css */
.ck-content[dir="ltr"] .table th {
  text-align: left;
}

/* ckeditor5-table/theme/tablecolumnresize.css */
.ck-content .table .ck-table-resized {
  table-layout: fixed;
}

/* ckeditor5-table/theme/tablecolumnresize.css */
.ck-content .table table {
  overflow: hidden;
}

/* ckeditor5-table/theme/tablecolumnresize.css */
.ck-content .table td,
.ck-content .table th {
  position: relative;
}

.ck-focused {
  border: 0 !important;
  box-shadow: 0 0 0 0 !important;
}

.ck-content {

  hr {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background-color: $subColor;
  }

  h1,
  h2,
  h3,
  h3,
  h4,
  h5 {
    display: inline-block;
    padding-bottom: 15px;
    position: relative;

    &::after,
    &::before {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 25px;
      height: 4px;
      content: "";
      margin: auto;
      background-color: $subColor;
    }

    &::before {
      background-color: $fontColor;
      left: 30px;
      width: 90%;
    }
  }
}

/* // ck-editor CSS */