@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500&display=swap');
@import "./vars.scss";
@import "./media.scss";

/* 구글 폰트 적용 */
body {
  font-family: 'Noto Sans KR'
}

.ant-layout,
.site-layout-background,
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #fff;
}

.ant-layout-sider-zero-width-trigger {
  top: 10px;
  font-size: 28px;
  right: -45px;
}

h1.ant-typography {
  margin-bottom: 0.2em;
}

.ant-menu {
  color: $mainColor;
}

.ant-anchor-ink-ball {
  border: 2px solid $mainColor;
}

.ant-menu-item-selected,
.ant-anchor-link-active>.ant-anchor-link-title,
a:active,
a:hover {
  color: $mainColor;
  font-weight: bold;
}

.ant-menu-item-selected {
  a {
    &:hover {
      color: $mainColor;
      font-weight: bold;
    }
  }
}

.ant-input-search {

  .ant-input:focus,
  .ant-input:hover {
    border-color: $subColor;
  }
}

.ant-input-focused,
.ant-input:focus {
  box-shadow: 0 0 0 1px $fontColor;
}


.ant-input-search .ant-input:focus+.ant-input-group-addon .ant-input-search-button:not(.ant-btn-primary),
.ant-input-search .ant-input:hover+.ant-input-group-addon .ant-input-search-button:not(.ant-btn-primary) {
  border-left-color: $subColor;
}

.ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary) {
  color: $subColor;
}

.ant-menu-item-selected {
  color: $mainColor;
  font-weight: bold;

  a {
    color: $mainColor;
    font-weight: bold;

    &:hover {
      color: $mainColor;
      font-weight: bold;
    }
  }
}

.ant-menu-light {

  .ant-menu-item:hover,
  .ant-menu-item-active,
  .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
  .ant-menu-submenu-active,
  .ant-menu-submenu-title:hover {
    color: $mainColor;
    font-weight: bold;
  }
}

.ant-btn:active,
.ant-btn:focus,
.ant-btn:hover,
.search-bar:hover,
.search-bar:active,
.search-bar:focus {
  color: black;
  border: 1px solid $antdGrayColor;
  box-shadow: 0 0 0 1px $antdGrayColor;
}

.ant-btn-ghost:focus,
.ant-btn-ghost:hover {
  color: $mainColor;
  border-color: $mainColor;
  background: transparent;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid $mainColor;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
.ant-tabs-tab:hover {
  color: $mainColor;
  font-weight: 700;
}


.ant-tabs-ink-bar {
  background: $mainColor;
}

.setting-dropbox {
  width: 165px;
  padding-top: 5px;
}

.fix-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.width-full {
  width: 100%;
}