/* 미디어 CSS */

/*
  $xs: 576px;
  $sm: 576px;
  $md: 768px;
  $lg: 992px;
  $xl: 1200px;
  $xxl: 1600px;
*/

@media (max-width: $mainContentSize) {
  .main-content {
    width: 100%;
  }

  .main-name {
    font-size: 1.125rem;
  }

  .main-footer {
    width: 100%;
  }

  .post-content {
    img {}
  }
}

/* 1919px */
@media (max-width: 1919px) {
  .ant-layout {
    .main-header {
      width: 1376px;
    }
  }
}

/* 1440px */
@media (max-width: 1440px) {
  .ant-layout {
    .main-header {
      width: 1024px;
    }
  }
}

/* 1056px */
@media (max-width: 1056px) {
  .ant-layout {
    .main-header {
      width: calc(100% - -2rem);
    }
  }
}

/* xxl */

@media (max-width: $xxl) {

  /* side-bar 숨김 - 화면이 xxl 사이즈보다 작은 경우 */
  .main {
    &-side {
      display: none;
    }
  }
}

@media (min-width: $xxl) {

  /* top-bar 숨김 - 화면이 xxl 사이즈보다 큰 경우 */
  .main {
    &-topbar {
      display: none;
    }
  }
}

/* xl */

@media (max-width: $xl) {
  .main-header {
    width: 1024px;
  }
}

/* lg */

@media (max-width: $lg) {

  /* 
    게시글의 border-top 2번째 게시글 부터 적용
    - 게시글이 하나씩 보이는 경우 
  */
  .main-list {
    .ant-row {
      >div:nth-child(n + 2) {
        border-top: 1px solid rgba(0, 0, 0, 0.06);
      }
    }
  }

  main {

    /* 게시글의 description 영역 padding 크게 조정 */
    .ant-list-vertical .ant-list-item-action>li {
      padding: 0 20px;
    }
  }

  main {

    /* 게시글의 description 영역 padding 크게 조정 */
    .ant-list-vertical .ant-list-item-action>li {
      padding: 0 20px;
    }
  }

  .main-writer {
    padding-left: 60px;
    padding-right: 60px;
    overflow-y: auto;

    &.isSeriesADD {
      min-height: calc(var(--vh, 1vh) * 100) + 52px;
    }

    &-detail {
      flex-direction: column;
      align-items: stretch !important;
    }

    &.isSeriesADD {
      .sub-content {
        overflow-y: auto !important;
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;

        /* Firefox */
        &::-webkit-scrollbar {
          display: none;
          /* Chrome, Safari, Opera*/
        }
      }
    }
  }

  .sub-content {
    .vertical-line {
      display: none;
    }

    .ant-col {
      width: 100%;
    }

    .seriesBottomButton {
      display: none;
    }

    .permission {
      justify-content: flex-start;

      .ant-radio-button-wrapper {
        padding-right: 10px;
      }
    }
  }

  .content-detail {
    display: flex;
    flex-direction: column;
  }

  .main-writer-detail {
    min-height: 735px;
  }

  .post-content {
    img {
      max-width: 100%;
    }
  }
}

@media (min-width: $lg) {

  /* 
      게시글의 border-top 3번째 게시글 부터 적용
      - 게시글이 두개씩 보이는 경우 
    */
  .main-list {
    .ant-row {

      >div:nth-child(n),
      >div:nth-last-child(2):nth-child(even) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.06);
      }

      >div:nth-last-child(-n + 2) {
        border-bottom: 0;
      }
    }
  }

  .main-writer-detail {
    height: calc(var(--vh, 1vh) * 100);
  }

  main {

    /* 게시글의 description 영역 padding 작게 조정 */
    .ant-list-vertical .ant-list-item-action>li {
      padding: 0 10px;
    }
  }


  .sub-content {
    .seriesTopButton {
      display: none;
    }

    .permission {
      justify-content: space-between;
    }
  }

  .content {
    &.content-detail {
      display: flex;
      flex-direction: column;
    }
  }

  .post-content {
    img {
      max-width: 65vh;
    }
  }
}

/* lg */

/* md */

@media (max-width: $md) {
  .header-title {
    font-size: 2rem !important;
  }

  /* 
    게시글의 border-top 2번째 게시글 부터 적용
    - 게시글이 하나씩 보이는 경우 
  */
  .ant-back-top {
    right: 60px !important;
  }

  .ant-layout {
    .post-wrap {
      margin-top: 3.6rem;
    }

    .series-wrap {
      margin-top: 7.5rem !important;
    }

    .setting-wrap {
      width: 100% !important;
      padding-left: 1rem;
      padding-right: 1rem;

      .top-name {
        display: none !important;
      }
    }

    .post-name {
      font-size: 2.25rem !important;
    }

    .post-information {
      font-size: 0.875rem !important;
    }

    .post-content {
      font-size: 1rem !important;
    }
  }

  .ant-layout {
    .post-wrap {
      .ant-row {
        .post-button-box {
          display: flex;
          flex-direction: column;

          .post-button {
            width: 100%;
            margin-top: 10px;
          }
        }
      }
    }
  }

  .ant-layout {
    .ant-layout-content {
      &.main-content {
        &.series-wrap {
          width: 100%;
          padding-left: 1rem;
          padding-right: 1rem;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  #root {
    section {
      main {
        .ant-row {
          ol {
            padding: 0;
          }

          .series {
            &-body {
              display: flex;
              flex-direction: column;
            }

            &-thumnail {
              margin-right: 0px;

              img {
                width: 100%;
              }
            }

            &-state {
              font-size: 1.3rem;

              .ant-divider-vertical {
                height: 1.9em;
                margin-right: 20px;
                margin-left: 20px;
              }
            }
          }
        }
      }
    }
  }

  .series-body {
    width: 100%;

    .series-thumnail {
      position: relative;
      padding-top: 56.9%;
      /* 1:1 ratio */
      overflow: hidden;

      img {
        max-height: 100% !important;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .post-content {
    img {
      max-width: 100%;
    }
  }
}

@media (min-width: $md) {

  /* 
    게시글의 border-top 2번째 게시글 부터 적용
    - 게시글이 하나씩 보이는 경우 
  */
  .ant-back-top {
    right: 120px !important;
    bottom: 70px !important;
  }

  .bottom_name {
    display: none !important;
  }
}