$mainColor: #382119;
$subColor: #634426;
$fontColor: #d8b48b;
$grayColor: #f8f9fb;
$antdGrayColor: #d9d9d9;

$mainContentSize: 756px;
$mainSidebarSize: 992px;

$xs: 576px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

:root {
  --vh: 100%;
}
