@import "./../../../common/scss/vars.scss";
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sono:wght@200;300;400;500;600;700;800&display=swap");

/*
  $xs: 576px;
  $sm: 576px;
  $md: 768px;
  $lg: 992px;
  $xl: 1200px;
  $xxl: 1600px;
*/
.main-writer {
  .ant-divider-horizontal {
    margin: 12px 0;
    width: 20%;
    min-width: 20%;
    border-top: 6px solid rgba(0, 0, 0, 0.06);
  }

  .ant-layout,
  .ant-layout * {
    box-sizing: border-box;
  }

  *,
  :after,
  :before {
    box-sizing: border-box;
  }

  .ck-content {
    box-sizing: border-box;
    line-height: 1.42;
    height: 100%;
    outline: none;
    overflow-y: auto;
    padding: 12px 15px;
    tab-size: 4;
    -moz-tab-size: 4;
    text-align: left;
  }
}

.main {
  &-content {
    .post {

      &-title,
      &-tag {
        border: 0;
      }

      &-title {
        color: $subColor;
        font-size: 2.5em;

        &::placeholder {
          color: $subColor;
          font-weight: 700;
          opacity: 0.5;
        }

        &.ant-input-focused,
        &.ant-input:focus {
          border: 0;
          box-shadow: 0 0 0 0;
        }
      }

      &-tag {
        &::placeholder {
          color: $subColor;
          font-weight: 700;
          opacity: 0.5;
        }

        &.ant-input-focused,
        &.ant-input:focus {
          border: 0;
          box-shadow: 0 0 0 0;
        }
      }
    }
  }

  &-footer {
    width: $mainContentSize;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 -3px 3px -3px gray;

    &.ant-layout-footer {
      padding: 10px 34px 10px 10px;
      background: #fff;
      border: 0;
    }

    .ant-typography {
      a {
        color: $mainColor;
      }
    }

    .ant-page-header-back-button:hover {
      color: $fontColor;
    }
  }
}

.ck-editor {
  height: calc(100vh - 300px) !important;

  &__main {
    height: calc(100% - 60px) !important;
  }
}

.modal {
  z-index: 1;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  will-change: opacity;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .content {
    height: 100vh;
    background-color: #fff;
    overflow-y: auto;
  }

  a {
    color: #fff;
    text-align: right;
    display: block;
    margin-bottom: 1vmin;
  }

  .image-motion {
    display: block;
    width: 100%;
    height: 50vmin;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .title-motion {
    font-size: 2.4vmin;
  }

  .title {
    margin-top: 1vmin;
    margin-bottom: 4vmin;
  }

  .cateogry {
    font-size: 60%;
  }

  p {
    font-size: 2.1vmin;
    line-height: 150%;
  }
}

.sub-content {
  textarea.ant-input {
    height: 100px;
    resize: none;
  }

  .ant-upload.ant-upload-select-picture-card {
    border: 1px dashed $subColor !important;
  }

  .ant-upload.ant-upload-select-picture-card>.ant-upload {
    flex-direction: column;
  }

  .ant-upload.ant-upload-select-picture-card {
    width: 280px;
    height: 240px;
  }

  .ant-upload-list-picture-card-container {
    width: 280px;
    height: 240px;
  }

  .ant-upload.ant-upload-select-picture-card:hover {
    border: 1px solid $subColor !important;
  }

  .seires-input-selected {
    .ant-input-disabled {
      border-radius: 3px !important;
      height: 48px;
    }

    span {
      &.ant-input-group-addon {
        border: 0;
        padding: 0;

        .seires-button-selected {
          border-radius: 3px !important;
          height: 48px;

          &:hover,
          &:focus,
          &:active {
            color: #d8b48b;
            font-weight: 700;
            border: 1px solid white;
            background-color: #634426;
          }
        }
      }
    }
  }

  .ant-col {
    width: 280px;

    .ant-radio-group {
      &.series-group {
        box-shadow: 0px 0px 3px -1px gray;

        .ant-radio-button-wrapper {
          .ant-radio-button~span {
            width: 100%;
            font-size: 15px;
          }
        }
      }

      .ant-space-item {
        .ant-radio-button-wrapper {
          height: 45px;
          padding: 0.875rem 1rem;
          font-size: 1rem;
          line-height: 1;
          border-top: 0;
          border-right: 0;
          border-left: 0;
        }
      }

      .ant-radio-button-wrapper {
        border-radius: 4px;
        border: 1px solid $antdGrayColor;

        &:focus,
        &:hover,
        &:active {
          color: $subColor;
        }
      }

      .ant-radio-button~span {
        justify-content: space-around;
        width: 100%;
        font-size: 20px;
      }

      .ant-radio-button-wrapper-checked:not([class*=" ant-radio-button-wrapper-disabled"]).ant-radio-button-wrapper:first-child {
        border-right-color: $antdGrayColor !important;
      }

      .ant-radio-button-wrapper:not(:first-child):before {
        width: 0;
        height: 0;
      }

      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
        color: $subColor;
        font-weight: 700;
        box-shadow: 0 0 0px 0px $subColor;
      }

      .ant-radio-button.ant-radio-button-checked {
        background-color: $subColor;
        border-radius: 3px;

        &~span {
          color: $fontColor;
        }
      }
    }
  }

  .ant-space.ant-space-vertical {
    gap: 0 !important;
  }
}

.inputBox {
  box-shadow: 0px 0px 3px -1px gray;

  input {
    &:focus {
      box-shadow: 0 0 0 0 #fff;
    }
  }
}

.sub-content .ant-col .ant-radio-group .ant-radio-button-wrapper {
  >span {
    display: flex;
    align-items: center;
  }
}

.sub-content .ant-col .ant-radio-group.series-group .ant-radio-button-wrapper {
  >span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.ant-modal {
  &.modal {
    &-size {
      &-middle {
        width: 400px !important;
      }
    }
  }

  .ant-modal-content {
    padding: 10px;
    border-radius: 5px;

    .ant-modal-header {
      border-bottom: 0;
      padding-bottom: 0;
    }

    .ant-modal-body {
      span {
        font-size: 1rem;
      }
    }

    .ant-modal-footer {
      border-top: 0;
      display: flex;
      justify-content: space-between;

      button {

        &:active,
        &:focus,
        &.hover {
          border: 1px solid;
        }

        &.ant-btn-default {
          border-radius: 5px;
          border-color: white;
          font-weight: 700;
        }

        &.ant-btn-primary {
          border-color: $fontColor;
          font-weight: 700;
          border-radius: 5px;
          background-color: $fontColor;
          color: $mainColor;

          &:active {
            border-color: $subColor;
            background-color: $subColor;
            color: $fontColor;
          }
        }
      }
    }
  }
}

p {
  u {
    text-underline-offset: 5px;
  }
}