@import "./../../../common/scss/vars.scss";

/*
  $xs: 576px;
  $sm: 576px;
  $md: 768px;
  $lg: 992px;
  $xl: 1200px;
  $xxl: 1600px;
*/

.post-content {
  font-family: "MapleStory", cursive;
  content: "MapleStory" !important;
}

.post {
  &-wrap {
    margin-top: 5.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: $mainContentSize;
    margin-left: auto;
    margin-right: auto;
  }
}

.ant-layout {
  .ant-row {
    &.post {
      &-wrap {
        justify-content: flex-start;
      }
    }

    .post {
      &-name {
        font-size: 3rem;
      }

      &-information {
        font-size: 1rem;
      }

      &-content {
        font-size: 1.125rem;
        color: var(--text1);
        transition: color 0.125s ease-in 0s;
        line-height: 1.42;
        letter-spacing: -0.004em;
        word-break: keep-all;
        overflow-wrap: break-word;
        width: 100%;

        &-sidebar {
          width: 4rem;
          background: $grayColor;
          border: 1px solid $antdGrayColor;
          border-radius: 12px;
          padding: 0.5rem;
          display: flex;
          flex-direction: column;
          -webkit-box-align: center;
          align-items: center;
        }

        blockquote {
          border-left: 4px solid $subColor;
          color: $subColor;
          margin: 0;
          padding: 0 0 0 10px;
          background-color: $grayColor;
          opacity: 0.9;
        }

        p {
          tab-size: 4;
          white-space: pre-wrap;
          margin: 5px 0 0 0;
          padding: 0;
        }

        ul,
        ol,
        u {
          margin: 0;
          padding: 0;
        }

        li {
          margin-left: 1.5em;
        }
      }

      &-button {
        width: 340px;
        min-width: 340px;
        height: 4rem;
        font-weight: 700;
        border-radius: 12px;
        background-color: $subColor;
        color: $fontColor;

        .ant-typography {
          color: $fontColor;
        }

        &-box {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

        &:hover,
        &:focus {
          background-color: $fontColor;
          color: $subColor;
          border: 1px solid $fontColor;
          font-weight: 700;

          .ant-typography {
            color: $subColor;
          }

          .post-left-arrow,
          .post-right-arrow {
            border-color: $subColor;
            border: 2px solid $subColor;
          }
        }

        .ant-space-vertical {
          gap: 2px !important;
        }
      }

      &-left {
        .ant-space-item {
          display: flex;
          justify-content: flex-start;
        }

        &-button {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
        }

        &-arrow {
          width: 2rem;
          height: 2rem;
          border: 2px solid $fontColor;
          border-radius: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 15px;
        }
      }

      &-right {
        .ant-space-item {
          display: flex;
          justify-content: flex-end;
        }

        &-button {
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-start;
          align-items: center;
        }

        &-arrow {
          width: 2rem;
          height: 2rem;
          border: 2px solid $fontColor;
          border-radius: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 15px;
        }
      }
    }

    .ant-comment-content-author {

      &-name,
      &-time {
        width: 100%;
      }

      &-name {
        .ant-row {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
      }
    }

    .ant-tabs-nav-list {
      &>.ant-tabs-tab {
        &:nth-child(1) {
          margin-left: 0;
        }
      }
    }
  }
}

.tag-button {
  transition: all;
  transition-duration: 0.5ms;

  &:hover {
    background-color: $subColor;
    cursor: pointer;
  }
}

.like-btn {
  &-active {
    background-color: $fontColor !important;
    border: 0;

    span {
      color: $subColor !important;
      transition: all;
      transition-duration: 100ms;
      border: 0;
    }
  }
}

.ant-comment-avatar {
  cursor: default !important;

  .ant-avatar {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}

hr {
  border-top: 0;
  border-width: 1.7px;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0 !important;
}

h {
  &1 {
    font-size: 2.4rem;

    u {
      text-underline-offset: 25.5px;
      text-decoration-color: $subColor;
      text-decoration-thickness: 3px;
    }
  }

  &2 {
    font-size: 2.0rem;

    u {
      text-underline-offset: 21.4px;
      text-decoration-color: $subColor;
      text-decoration-thickness: 3px;
    }
  }

  &3 {
    font-size: 1.6rem;

    u {
      text-underline-offset: 19.2px;
      text-decoration-color: $subColor;
      text-decoration-thickness: 3px;
    }
  }

  &4 {
    margin-bottom: 0 !important;
    font-size: 1.2rem;

    u {
      text-underline-offset: 17.4px;
      text-decoration-color: $subColor;
      text-decoration-thickness: 3px;
    }
  }

  &5 {
    margin-bottom: 0 !important;
    font-size: 1rem;

    u {
      text-underline-offset: 14.7px;
      text-decoration-color: $subColor;
      text-decoration-thickness: 3px;
    }
  }

}


/*!
  Theme: GitHub Dark
  Description: Dark theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-dark
  Current colors taken from GitHub's CSS
*/
.ck-content {
  pre {
.hljs {
    color: #c9d1d9;
    background: #0d1117;
  }

  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ {
    /* prettylights-syntax-keyword */
    color: #ff7b72;
  }

  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    /* prettylights-syntax-entity */
    color: #d2a8ff;
  }

  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-variable,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id {
    /* prettylights-syntax-constant */
    color: #79c0ff;
  }

  .hljs-regexp,
  .hljs-string,
  .hljs-meta .hljs-string {
    /* prettylights-syntax-string */
    color: #a5d6ff;
  }

  .hljs-built_in,
  .hljs-symbol {
    /* prettylights-syntax-variable */
    color: #ffa657;
  }

  .hljs-comment,
  .hljs-code,
  .hljs-formula {
    /* prettylights-syntax-comment */
    color: #8b949e;
  }

  .hljs-name,
  .hljs-quote,
  .hljs-selector-tag,
  .hljs-selector-pseudo {
    /* prettylights-syntax-entity-tag */
    color: #7ee787;
  }

  .hljs-subst {
    /* prettylights-syntax-storage-modifier-import */
    color: #c9d1d9;
  }

  .hljs-section {
    /* prettylights-syntax-markup-heading */
    color: #1f6feb;
    font-weight: bold;
  }

  .hljs-bullet {
    /* prettylights-syntax-markup-list */
    color: #f2cc60;
  }

  .hljs-emphasis {
    /* prettylights-syntax-markup-italic */
    color: #c9d1d9;
    font-style: italic;
  }

  .hljs-strong {
    /* prettylights-syntax-markup-bold */
    color: #c9d1d9;
    font-weight: bold;
  }

  .hljs-addition {
    /* prettylights-syntax-markup-inserted */
    color: #aff5b4;
    background-color: #033a16;
  }

  .hljs-deletion {
    /* prettylights-syntax-markup-deleted */
    color: #ffdcd7;
    background-color: #67060c;
  }

  .hljs-char.escape_,
  .hljs-link,
  .hljs-params,
  .hljs-property,
  .hljs-punctuation,
  .hljs-tag {
    /* purposely ignored */
  }
  }
}