@import "./../../../common/scss/vars.scss";

/*
  $xs: 576px;
  $sm: 576px;
  $md: 768px;
  $lg: 992px;
  $xl: 1200px;
  $xxl: 1600px;
*/

.post {
  &-wrap {
    margin-top: 5.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: $mainContentSize;
    margin-left: auto;
    margin-right: auto;
  }
}

.ant-layout {
  .ant-row {
    &.post {
      &-wrap {
        justify-content: flex-start;
      }
    }

    .post {
      &-name {
        font-size: 3rem;
      }

      &-information {
        font-size: 1rem;
      }

      &-content {
        font-size: 1.125rem;
        color: var(--text1);
        transition: color 0.125s ease-in 0s;
        line-height: 1.7;
        letter-spacing: -0.004em;
        word-break: keep-all;
        overflow-wrap: break-word;
        width: 100%;

        &-sidebar {
          width: 4rem;
          background: $grayColor;
          border: 1px solid $antdGrayColor;
          border-radius: 12px;
          padding: 0.5rem;
          display: flex;
          flex-direction: column;
          -webkit-box-align: center;
          align-items: center;
        }
      }

      &-button {
        width: 340px;
        min-width: 340px;
        height: 4rem;
        font-weight: 700;
        border-radius: 12px;
        background-color: $subColor;
        color: $fontColor;

        .ant-typography {
          color: $fontColor;
        }

        &-box {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

        &:hover,
        &:focus {
          background-color: $fontColor;
          color: $subColor;
          border: 1px solid $fontColor;
          font-weight: 700;

          .ant-typography {
            color: $subColor;
          }

          .post-left-arrow,
          .post-right-arrow {
            border-color: $subColor;
            border: 2px solid $subColor;
          }
        }

        .ant-space-vertical {
          gap: 2px !important;
        }
      }

      &-left {
        .ant-space-item {
          display: flex;
          justify-content: flex-start;
        }

        &-button {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
        }

        &-arrow {
          width: 2rem;
          height: 2rem;
          border: 2px solid $fontColor;
          border-radius: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 15px;
        }
      }

      &-right {
        .ant-space-item {
          display: flex;
          justify-content: flex-end;
        }

        &-button {
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-start;
          align-items: center;
        }

        &-arrow {
          width: 2rem;
          height: 2rem;
          border: 2px solid $fontColor;
          border-radius: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 15px;
        }
      }
    }

    .ant-comment-content-author {

      &-name,
      &-time {
        width: 100%;
      }

      &-name {
        .ant-row {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }
      }
    }

    .ant-tabs-nav-list {
      &>.ant-tabs-tab {
        &:nth-child(1) {
          margin-left: 0;
        }
      }
    }
  }
}

.tag-button {
  transition: all;
  transition-duration: 0.5ms;

  &:hover {
    background-color: $subColor;
    cursor: pointer;
  }
}

.like-btn {
  &-active {
    background-color: $fontColor !important;
    border: 0;

    span {
      color: $subColor !important;
      transition: all;
      transition-duration: 100ms;
      border: 0;
    }
  }
}

.ant-comment-avatar {
  cursor: default !important;

  .ant-avatar {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}

hr {
  border-top: 0;
  border-width: 1.7px;
}

h {
  &1 {
    margin-bottom: 0 !important;
    font-size: 2.4rem;

    u {
      text-underline-offset: 24.4px;
      text-decoration-color: $subColor;
      text-decoration-thickness: 3px;
    }
  }

  &2 {
    margin-bottom: 0 !important;
    font-size: 2.0rem;

    u {
      text-underline-offset: 22.4px;
      text-decoration-color: $subColor;
      text-decoration-thickness: 3px;
    }
  }

  &3 {
    margin-bottom: 0 !important;
    font-size: 1.6rem;

    u {
      text-underline-offset: 18.6px;
      text-decoration-color: $subColor;
      text-decoration-thickness: 3px;
    }
  }

  &4 {
    margin-bottom: 0 !important;
    font-size: 1.2rem;

    u {
      text-underline-offset: 17.4px;
      text-decoration-color: $subColor;
      text-decoration-thickness: 3px;
    }
  }

  &5 {
    margin-bottom: 0 !important;
    font-size: 1rem;

    u {
      text-underline-offset: 14.7px;
      text-decoration-color: $subColor;
      text-decoration-thickness: 3px;
    }
  }

}

pre.ql-syntax {
  background-color: #23241f;
  color: #f8f8f2;
  overflow: visible;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 3px;
}

code {
  background-color: #f0f0f0;
  border-radius: 3px;
  padding: 5px !important;
}