@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500&display=swap');

// 변수
$mainColor: #382119;

/* 구글 폰트 적용 */
body {
  font-family: 'Noto Sans KR'
}

.ant-layout-sider-zero-width-trigger {
  top: 0px;
}

h1.ant-typography {
  margin-bottom: 0.2em;
}

.site-layout-background {
  background: #fff;
}

.ant-menu {
  color: #382119;
}

.ant-menu-item-selected {
  color: #382119;
  font-weight: bold;
}


.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #fff;
}

.ant-menu-item-selected,
.ant-menu-item-selected a,
.ant-menu-item-selected a:hover {
  color: #382119;
  font-weight: bold;
}

.ant-menu-light .ant-menu-item:hover,
.ant-menu-light .ant-menu-item-active,
.ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open,
.ant-menu-light .ant-menu-submenu-active,
.ant-menu-light .ant-menu-submenu-title:hover {
  color: #382119;
  font-weight: bold;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: 3px solid #382119;
}